.work-container {
    width: 100vw;
    height: 100vh;
}

.work-main {
    display: grid;
    grid-template-rows: 0.2fr 3fr;
    grid-template-columns: 1fr;
    justify-items: center;
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    background: #5e5e5e;
    color: #fcfcfc;
}

.work-main h1 {
    margin-bottom: 0px;
    padding: 1px;
}

.work-main section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: 1fr;
    justify-content: center;
}

.work-main img {
    width: 100%;
    height: 300px;
}

p {
    box-sizing: border-box;
    color: whitesmoke;
    background-color: #010f0f;
    padding: 5px;
    text-align: center;
    margin: 10px auto;
    padding: 10px;
}

.work {
    margin: 5px;
    padding: 5px;
}

#footer {
    margin: 0px;
}